bin/
development/server.crt
development/server.key
dist/
input/
input_old/
rebuild/
output/
release/
*.prof
*.pb.go
fs*.ts
**/node_modules/
tmp/*
!tmp/.gitkeep
.direnv
.idea/
.DS_STORE
.envrc.local

.vscode/*
!.vscode/settings.example.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
